.DashBoardItem{
    width: 100%;
    margin: 10px 0px;
    display: flex;
    /* align-items: center; */
    padding-left: 10%;
    cursor: pointer;
    box-sizing: border-box;
}
.DashBoardItem:hover{
    font-weight: bold;
}
.DashBoardItem:hover .Icon{
    color: lightskyblue;
}

.Active{
    font-weight: bold;
}
.Icon{
    color: rgb(216, 216, 216);
}

.IconActive{
    color: lightcoral;
}

.DashBoardItem > div{
    margin-right: 20px;
}