.UserProfile{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.UserProfile img{
    border-radius: 10px;
}

.UserProfile > h2{
    margin: auto;
    text-align: center;
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 5px;
    width: 100%;
    text-align: center;
}

.stats > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.stats p{
    font-size: 15px;
}

.Info{
    font-size: 13px;
    margin-top: 10px;
}

.InfoBlocks{
    margin-top: 8px;
}

@media (max-width: 1060px){
    .UserProfile{
        flex-direction: row;
    }

    .UserProfile  img{
        max-height: 150px;
        max-width: 200px;
    }
}