.UserProfile{
    padding: 20px;
    width: 100%;
}

.ImgAndStats{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.UserProfile img{
    border-radius: 10px;
    height: 100px;
}

.UserProfile > h2{
    margin: auto;
    text-align: center;
}

.stats{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 5px;
    width: 100%;
    text-align: center;
}

.stats > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.stats p{
    font-size: 15px;
}

.Info{
    font-size: 13px;
    margin-top: 10px;
}

.NameAndDescription{
    margin-bottom: 10px;
}

.NameAndDescription h3{
    font-weight: 400;
    text-transform: capitalize;
}
.InfoBlocks{
    margin-top: 8px;
}

.Buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1060px){
    .UserProfile{
        flex-direction: row;
    }

    .UserProfile  img{
        max-height: 100px;
    }
}