.DashBoard{
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    min-width: 300px;
    background-color: inherit;
    box-sizing: border-box;
}

.DashBoard::-webkit-scrollbar{
    display: none;
}

.Bottom{
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid #eee;
}

@media (max-width: 700px) {
    .DashBoard{
        min-width: 250px;
    }
}
