.TopNews {
    box-sizing: border-box;
    /* border: 1px solid #eee; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    /* border-radius: 10px; */
    padding: 20px;
    background-color: white;
    height: 100vh;
}

.heading {
    font-size: 17px;
    text-align: center;
    width: 50%;
    /* background-color:#1DA1F2 ; */
    margin: auto;
    padding: 1px 7px;
    border-radius: 20px;
    border: 1px solid black;
}

