.About{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


.Icons{
    margin: 10px;
}

.Links a{
    text-decoration: none;
}

.Dark h2, .Dark p, .Dark h3, .Dark .Icons {
    color: white;
}

.Normies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
}

.Normie{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

.Part{
    border: 1px solid cornflowerblue;
    padding: 3px;
    border-radius: 7px;
}