.About{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dark h2, .Dark p, .Dark h3, .Dark .Icons {
    color: white;
}

.Normies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Normie{
    display: flex;
    align-items: center;
}