.DashBoard{
    border-right: inherit;
    height: 100vh;
    width: 100%;
    min-width: 300px;
    background-color: inherit;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

/* .Dark{
    background-color:rgb(2, 1, 1);
    border: 10px solid rgb(17, 16, 16);
} */


.DashBoard::-webkit-scrollbar{
    display: none;
}

.Bottom{
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid #eee;
}

.Component1{
    position: absolute;
    left: 0%;
    transition: all 0.3s;
    width: 100%;
}
.Component2{
    position: absolute;
    right: -100%;
    transition: all 0.3s;
    width: 100%;
}

.Component2 > button {
    background-color: lightskyblue;
    border: none;
    cursor: pointer;
    position: absolute;
    border-radius: 20px 0px 0px 20px;
    right: 0% ;
    top: 2%;
    height: 40px;
    display: flex;
    align-items: center;
}

.ToggleBtn{
    display: none;
    padding-left: 10%;
}

.SlideLeft_c1{
    left: -100%;
}
.SlideLeft_c2{
    right: 0%;
}
.SlideRight_c1{
    left: 2%;
}
.SlideRight_c2{
    right: -100%;
}

@media (max-width:630px) {
    .ToggleBtn{
        display: block;
    }
}