.CreateFeed {
    box-sizing: border-box;
    background-color: #e0dfdf;
    padding: 10px 20px;
    min-width: 300px;
    max-width: 550px;
    border-radius: 10px;
    /* margin: 0 5px; */
    margin: 0px auto 10px auto;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.Type{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Type img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.Type textarea{
    margin: 10px 10px 0px 10px;
    height: 35px;
    outline: none;
    border: none;
    background-color: #F3F3F3;
    word-break: break-all;
    min-width: 90%;
    min-height: 50px;
    background-color: white;
    font-family: inherit;
    font-weight: 500;
    word-break: normal;
    font-size: 15px;
    color: grey;
    padding: 5px;
}

.line{
    height: 0.2px;
    width: 100%;
    background-color: grey;
    margin: 10px auto;
}


.Choose{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 600px){

    .CreateFeed{
        margin-top: 5px;
    }
}

@media (max-width: 800px){
    .Type textarea{
        min-width: 80%;
    }
}