.Chat{
    min-height: 100vh;
    width: 370px;
    background-color: white;
    padding:10px;
    overflow-y: scroll;
    box-sizing: border-box;
    box-shadow: 0 5px 7px #ccc;
    border: 1px solid #eee;
    position: fixed;
    right: -100%;
    top: 80px;
    z-index: 100;
    transition: all 0.5s;
}

.ActiveChat{
    right: 0%;
}
.Header {
    width: 100%;
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
}


.Switch{
    display: inline-block;
    margin:auto;
}

.Switch > button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 5px;
}

.ActiveButton {
    border-bottom: 2px solid grey !important;
}

.Option{
    display: inline-block;
    float: right;
}