.MessageBox{
    height: calc(100vh - 65px);
    width: 75%;
    transition: right 0.5s;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    border-left: 2px solid lightgray;
}


.Head{
   display: flex; 
   height: 50px;
   width: 100%;
   border: 1px solid black;
   padding: 10px;
}

.Messages{
    flex-grow: 1;
    overflow-y: auto;
    padding: 0px 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}


.MsgRow{
    display: flex;
    align-items: flex-start;
    margin: 20px;
}
.MsgRow img{
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.Msg{
    background-color: rgba(255,255,255,0.1);
    padding: 15px;
    max-width: 60%;
    font-weight: 300;
}

.TimeAndAuth{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Sent{
    justify-content: flex-end;
}
.Sent > div{
    border-radius: 20px 0px 20px 20px;
    background-color: #027CDE;
}
.Received > div{
    border-radius: 0px 20px 20px 20px;
}


.Input{
    display: flex;
    align-items: center;
    height: 50px;
}
.Comment{
    margin-left: 5px;
    width: 100%;
    padding: 10px;
}
.Comment input{
    padding: 5px 15px;
    border: none;
    outline: none;
    background-color: grey;
    border-radius: 20px;
    height: 40px;
}
.Comment input:focus{
    border: none;
    outline: none;
}


@media (max-width:700px) {
    .MessageBox{
        position: fixed !important;
        width: 100vw;
        height: calc(100vh - 50px);
        top: 50px;
        left: 0;
        border-left: none;
    }

    .Messages{
        padding: 0px 5px;
    }
    .Msg{
        max-width: 70%;
    }
}