.Chat{
    min-height: 100vh;
    width: 550px;
    background-color: white;
    padding:10px;
    /* overflow-y: scroll; */
    box-sizing: border-box;
    box-shadow: 0 5px 7px #ccc;
    border: 1px solid #eee;
    /* position: fixed;
    right: -100%;
    top: 80px; */
    transition: all 0.5s;
}

.Dark{
    background-color: #1E2021;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border:none;
    color: white;
}

.Dark p{
    color: white;
}
.Dark .Switch{
    color: white;
}

.Dark .IconColor{
    color: white;
}

.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
}


.Switch{
    display: inline-block;
    margin:auto;
}

.Switch > button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 20px;
    color: inherit;
}

.ActiveButton {
    border-bottom: 2px solid grey !important;
}

.Option{
    display: inline-block;
    float: right;
}