.Chat{
    min-height: 100vh;
    width: 400px;
    background-color: white;
    padding:10px;
    /* overflow-y: scroll; */
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    position: fixed;
    right: -100%;
    top: 79px;
    transition: all 0.5s;
    z-index: 100;
    font-family:"Work Sans","Open Sans";
}

.ActiveChat{
    right: 0%;
}

.Header {
    width: 100%;
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
}


.Switch{
    display: inline-block;
    margin:auto;
}

.Switch > button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 20px;
}

.ActiveButton {
    border-bottom: 2px solid grey !important;
}

.Option{
    display: inline-block;
    float: right;
}

@media (max-width: 700px){
    .Chat{
        top:60px;
        max-width: 300px;
    }

}

@media (max-width:580px) {
    .Chat{
        top: 52px;
    }
}

@media (max-width: 400px){
    .Chat{
        display: none;
    }
}