.Home{
  position: relative;
  transition: all 0.3s;
  height: calc(100vh - 50px);
  width: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  margin-top: 50px;
}

.Dark {
  background-color: #000000;
}

.main{
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  max-width: 1400px;
}

.home > h4{
  text-align: center;
  padding: 70px 0;
  color: black;
  font-weight: 800;
  font-size: xxx-large;
}


