.RightPanel{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 300px;
    position: sticky;
    right: 0px;
    top: 80px;
    font-family: "Work Sans";
}



@media (max-width: 1000px){
    .RightPanel{
        display: none;
    }
}