.leftSection{
    background-color: rgba(29, 31, 41,1);
    /* background-color:wheat; */
    height : 82.5vh;
    width:16%;
    display: list-item;
    /* margin-top:0px; */
    margin-left:1%;
    overflow-y :auto;
    border-radius: 20px;
    padding: 0.85%;
    position: sticky;
    box-shadow: 0 2px 3px grey;
   
}

.leftSection::-webkit-scrollbar{
    display: none;
}

#friends{
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 2px;
    
}

.sectionContainer{
    margin-bottom: 2px;
    font-size: 12px;
    margin-left: 2px;
    margin-top: 20px;
}

.sectionName{
    font-size: 12px;
    margin-left: 6px;
    color: white;
    margin-bottom: 2px;
}


.individualSection{
    display:flex;
    align-items: flex-start;
    justify-content: space-evenly;
    /* background-color: pink; */
    height: 32px;
    width: 100%;
    padding-left: 5px;
    text-decoration: none;
    margin-bottom: 2px;
    transition-duration: 200ms;
    border-radius: 5px;
    

}

.individualSection:hover{
    background-color:rgb(88, 88, 88);
        color: rgb(71, 71, 68);
        text-decoration: none;
}

.sectionIconHolder{
    max-width: 50%;
    /* background-color: green; */
    height: 100%;
    margin-right: 8px;

}

.sectionImage{
    width: 80%;
    height: 100%; 
    object-fit: contain;
}

.sectionTextHolder{
   
    width:70%;
    height: 100%;
    padding-left: 5px;
    display: inherit;
    justify-content:flex-start;
    /* background-color: aqua; */
    
}
.sectionText{
    /* background-color:white; */
    align-self: center;
    width: 100%;
    /* height: 100%; */
    font-size: 13px;
    object-fit: contain;
    color:white;
   font-weight: 400;
   font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

}

.star{
    /* background-color:white; */
    display: flex;
    justify-content: space-around;
    object-fit: contain;
    width: 20%;
    height: 100%;
}

a:-webkit-any-link {
    color: pink;
    cursor: pointer;
}

.starButton{
    width: 50%;
    align-self: center;
    /* background-color: peru; */
    object-fit: contain;
    fill:rgb(54, 54, 54)
}
