.Posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ImgBox{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
    box-sizing: border-box;
}

@media (max-width:760px) {
    .ImgBox{
        height: 150px;
        width: 150px;
        margin: 5px;
    }
}

@media (max-width:400px) {
    .ImgBox{
        height: 120px;
        width: 100px;
    }
}