.Post{
    box-sizing: border-box;
    min-width: 350px;
    max-width: 650px;
    background-color: #e7e4e4;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.Post > div{
    margin-bottom: 10px;

}
.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.NamePhoto{
    display: flex;
    direction: row;
    align-items: center;
}
.NamePhoto > p{
    margin-left: 10px;
}

.PostImage > img {
    width: 100%;
}

.Interact{
    margin-top: 5px;
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.Icons{
    box-sizing: border-box;
    padding-right: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.IconLeft{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.IconRight{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.PostInfo{
    padding: 0px 5px;
}

#cool{
    color:  purple;
}