.CreateFeed {
    box-sizing: border-box;
    background-color: #e0dfdf;
    padding: 20px;
    min-width: 300px;
    max-width: 550px;
    border-radius: 5px;
    /* margin: 0 5px; */
    margin: 0px auto 10px auto;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: all 0.3s;
    overflow-y: scroll;
    max-height: 600px;
    overflow-x: clip;
}

.CreateFeed::-webkit-scrollbar{
    display:none;
}
.Content{
    width: 100%;
}

.Content img{
    min-width: 100%;
    margin: auto;
    display: block;
}

.Content video{
    max-height: 250px;
    margin: auto;
    display: block;
}

.Dark{
    background-color: #1E2021;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border:none;
}


.Dark .IconColor{
    color: white;
    border-color: white;
}
.Dark .Type textarea{
    color: white;
    opacity: 0.7;
}

.IconColor{
    color: grey;
    border-color: #eee;
}
.Type{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.Type img{
    padding-left: 0.1vw;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.Type textarea{
    resize: none;
    padding-top: 12px;
    overflow: hidden;
    min-height: 25px;
    /* max-height: 100px; */
    width: 100%;
    margin-left: 10px;
    border: none;
    font-family: inherit;
    background-color: transparent;
}

.Errormessage{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Errormessage > p{
    color: red;
    padding-left: 1em;
    font-size: small;
}

.line{
    height: 0.2px;
    width: 100%;
    background-color: grey;
    margin: 10px auto;
}


.Choose{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


@media (max-width: 1000px){

    .Type textarea{
        min-width: 80%;
    }
}

@media (max-width: 600px){

    .CreateFeed{
        margin-top: 5px;
    }
}

