.ActivityItem{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 7px;
    /* margin-top: 5px; */
    align-items: center;
}

.ActivityItem > img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.MyImage > img{
    height: 40px;
    width: 40px;
    border-radius: none !important;
}