.ActivityItem{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 7px;
    /* margin-top: 5px; */
    align-items: center;
    font-size: 11.5px;
}

.ActivityItem > img{
    height: 36px;
    width: 36x;
    border-radius: 50%;
}

.MyImage > img{
    height: 36px;
    width: 36px;
    border-radius: none !important;
}