.Settings{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dark{
    background-color: #061218;
}

.InputBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.Dark h2{
    color: white;
}



.ImageBox{
    height: 70px;
    width: 70px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ImageBox img{
    max-height: 70px;
    max-width: 70px;
    object-fit: cover;
    object-position: top;
}

.Inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Input{
    margin: 10px !important;
}

.Dark .Input{
    color: white !important;
}

.IconColor{
    color: white;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.2rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

}
.Dark .form__field{
    color: #fff;;
}

.form__field::placeholder {
    color: transparent;
}

/* .Dark .form__field::placeholder {
    color: transparent;
} */
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #11998e;
    font-weight:600;    
}
/* reset input */

.form__field:required,.form__field:invalid { box-shadow:none; }