.RightPanel{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 320px;
    position: sticky;
    right: 0px;
    top: 90px;
}



@media (max-width: 800px){
    .RightPanel{
        display: none;
    }
}