.RightPanel{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 330px;
    
}

.RightPanel > div {
    margin-bottom: 10px;
}

@media (max-width: 1000px){
    .RightPanel{
        display: none;
    }
}