.RightPanel{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 320px;
}

.RightPanel > div {
    margin-bottom: 10px;
}

@media (max-width: 960px){
    .RightPanel{
        display: none;
    }
}