.CreateFeed {
    box-sizing: border-box;
    background-color: #e7e4e4;
    padding: 10px;
    /* min-width: 300px;
    max-width: 650px; */
    border-radius: 15px;
    margin: 0 5px;
}

.Type{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Type img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.Type input{
    margin-left: 20px;
    height: 35px;
    outline: none;
    border-radius: 15px;
    background-color: #F3F3F3;
}


.Choose{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}