.Post{
    box-sizing: border-box;
    background-color: #e0dfdf;
    padding: 20px;
    border-radius: 15px;
    margin: 15px 5px;
    /* min-width: 300px; */
    max-width: 550px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.Post > div{
    margin-bottom: 10px;
}
.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px !important;
}

.Header img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.NamePhoto{
    display: flex;
    direction: row;
    align-items: center;
}
.NamePhoto > p{
    margin-left: 10px;
}
.Category{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.PostImage{
    display: flex;
    align-items: center;
}
.PostImage > img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.Interact{
    margin-top: 5px;
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 0px !important;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
}

.Icons{
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.IconLeft{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 0px;
}

.Comment{
    margin-left: 5px;
    width: 100%;
}
.Comment input{
    padding: 5px 5px;
    border: none;
    outline: none;
}
.Comment input:focus{
    border: none;
    outline: none;
}

.VerticalLine{
    height: 25px;
    width: 1px;
    background-color: grey;
}


#cool{
    color:  purple;
}

