.Feed{
    box-sizing: border-box;
    width: 500px;
    background-color: #e7e4e4;
    padding: 20px;
    border-radius: 15px;
}
.Feed > div{
    margin-bottom: 10px;
}
.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.NamePhoto{
    display: flex;
    direction: row;
    align-items: center;
}
.NamePhoto > p{
    margin-left: 10px;
}

.Interact{
    margin-top: 5px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.Icons{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.IconLeft{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.IconRight{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PostInfo{
    padding: 0px 5px;
}

#cool{
    color:  purple;
}