.Posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ImgBox{
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin: 20px;
    box-sizing: border-box;
}