.ChatItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: inherit ;
    box-sizing: border-box;
    padding: 5px;
    margin: 7px 0px;
    cursor: pointer;
}


.rajkumar{
    background-color:red ;

}
.ChatItem:hover{
    background-color:#dadada ;
    border-radius: 5px;
}

.Dark ~ .ChatItem:hover{ /* apply css on same level*/
    background-color: rgb(90, 90, 90);
}

.Dark h4{
    opacity: 0.8;
}



.ChatItem img{
    height: 40px;
    /* border-radius: 50%; */
    display: inline-block;
    margin-right: 10px;
}

.ChatPreview{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.TimeAndCount{
    text-align: center;
}

.TimeAndCount p{
    font-size: 10px;
}

.TimeAndCount > div{
    border: 1px solid grey;
    border-radius: 50%;
}
